.login {
  background-color: #282828;
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.login-title {
  font-size: 2em;
  font-weight: bold;

}

.login-input {
  margin-right: 0 !important;
  padding: 0.5rem 0.8rem !important;
  width: 91% !important;
  margin-left: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button {
  padding: 0.8rem 2rem !important;
  border-radius: 30px;
  background-color: #FF3364;
  color: white;
  cursor: pointer;
  transition: .3s linear all;
}

.login-button:hover {
  background-color: transparent;
  border: #FF3364 1px solid !important;
  color: #FF3364;
}

.inputDefaultContainer .p-0{
  padding: 0.3rem 0.8rem !important;
}

.w-60 {
  width: 60% !important;
}

.sign-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px !important;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #282828;
}

.loading-icon {
  color: #FF3364;
  font-size: 100px;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

