.voltar {
  height: 3rem;
  cursor: pointer;
  background-color: #fff;
  background-color: #282828; /* novo */
  color: #fff; /* novo */
  margin: 0 1rem !important;
  font-family: "Poppins" !important;
  transition: 0.5s;
}

.voltar:hover {
  color: #ff3364;
}

.header-row {
  width: 100%;
  display: grid;
  grid-template-columns: 5rem 1fr 1fr;
  color: var(--gray-200);
  color: #fff; /* novo */
  align-items: center !important;
}

/* Input */
.inputSearchContainer input {
  /* border: var(--gray-50) 1px solid; */ /* novo */
  filter: drop-shadow(7px 6px 6px rgba(0, 0, 0, 25%)); /* novo */
  border-radius: 30px;
  border-radius: 13px; /* novo */
  height: 2rem;
  color: var(--gray-200);
  width: 100%;
  padding-left: 1rem !important;
  transition: 0.05s;
}

.inputSearchContainer input:focus {
  outline: none !important;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 5%));
}
.inputSearchContainer input:focus ~ .submit-lente {
  opacity: 1;
}

.inputSearchContainer {
  position: relative;
  width: 100%;
}

.submit-lente {
  color: var(--gray-50);
  color: #ff3364; /* novo */
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 10;
  border: none;
  background: transparent;
  outline: none;
  /* opacity: 0.5;  */ /* novo */
}

.dialogBackground {
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  position: fixed;

  display: flex;
  justify-content: end;
  justify-content: center; /* novo */
  align-items: flex-end;
  align-items: center; /* novo */
  background-color: rgba(0, 0, 0, 80%);
}

.dialogContainer {
  background-color: #fff;
  background-color: #282828; /* novo */

  width: 80vw;
  min-height: 80vh;
  border-radius: 50px;
  color: var(--gray-200);
  color: #fff; /* novo */
  /* top: 100%; */
}

.dialogContainer button {
  background: none;
}
.dialogContainer .dialogButton i {
  color: var(--gray-200);
  background-color: #fff;
  background-color: #3e3e3e; /* novo */
  color: #fff; /* novo */

  padding: 0.7rem 1rem !important;
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(5px 6px 30px rgba(0, 0, 0, 25%));
}

.dialogDetail {
  padding: 1rem 3rem !important;
}

.inputDefaultContainer {
  position: relative;
  width: 100%;
}

/* .inputDefaultContainer Multiselect select {
  border: none;
} */
.searchWrapper {
  border: none !important;
  font-family: poppins !important;
  border-radius: 0px;
}

.inputDefaultContainer input,
.inputDefaultContainer textarea,
.inputDefaultContainer select,
.inputDefaultContainer select option,
#search_input,
.searchBox {
  border-radius: 7px; /* novo */
  filter: drop-shadow(7px 6px 6px rgba(0, 0, 0, 25%));
  /* border-bottom: var(--gray-50) 1px solid; */ /* novo */
  background-color: #f9f9f9;
  height: 2rem;

  color: var(--gray-200);
  width: 100%;
  padding-left: 1rem !important;
  transition: 0.05s;
  font-family: "POPPINS";
}
.optionContainer li {
  height: 2rem;
  display: flex;
  padding-left: 1rem !important;
  font-size: 0.9rem;
  font-family: "POPPINS";
  align-items: center;
}
/* .highlightOption {
  background: #f9f9f9 !important;
  color: #fff;
} */
/* .search-wrapper {
  display: flex;
  flex-direction: column-reverse;
} */
.notFound {
  font-family: "POPPINS" !important;
  font-size: 0.8rem;
  height: 2rem;
  display: flex !important;
  align-items: center;
  padding-left: 1rem !important;
}
.chip {
  width: fit-content;
  padding: 4px 10px;
  /* background: linear-gradient(to bottom right, #7ccb85, #4ca2cd) !important;  */ /* novo */
  background-color: #ff3364 !important;
  padding: 0.2rem 0.5rem !important;
  color: #fff;
  margin-right: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  border-radius: 11px;
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  line-height: 19px;
  color: #fff;
}
.inputDefaultContainer textarea {
  height: 10rem;
  padding-top: 1rem !important ;
}
.icon_cancel {
  margin-left: 0.2rem !important;
}

.inputDefaultContainer input:focus,
.inputDefaultContainer textarea:focus,
.inputDefaultContainer select:focus {
  outline: none !important;
  border-bottom: #7ccb85 solid 2px;
  border-bottom: #ff3364 solid 2px; /* novo */
}
/* .placeholder {
  color: #666 !important;
}

.inputDefaultContainer select option {
} */

/* .inputDefaultContainer label {
  margin-top: 3rem !important;
} */
.pick {
  height: 7rem;
  overflow: scroll;
}

/* .pick i {
  margin: 0.5rem !important;
} */

.iconPickerButton {
  cursor: pointer;
  color: var(--gray-200);

  color: #fff; /* novo */
  background-color: #3e3e3e !important; /* novo */
  margin: 0.2rem !important;
  border-radius: 13px;
}
.saveBtn {
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  margin: 2rem 0rem !important;
  height: 2rem;
  transition: 0.5s;
  background-color: #ff3364 !important; /* novo */
}

.saveBtn:hover {
  opacity: 0.8;
}
/* 
input[type="file"]::file-selector-button {
  height: 6rem;
  width: 6rem;

  border-radius: 0.2em;
  font-family: "Poppins";
} */
.alert {
  background-color: #7ccb85;
  position: absolute;
  top: 30px;
  left: 50%;
  z-index: 40000;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0.5rem 1rem !important;
  border-radius: 40px;
  animation: abaixa2 0.5s ease-in-out;
}

.succes {
  background-color: #7ccb85;
}

.error {
  background-color: #ff3364;
}

.alert-icon {
  margin-right: 20px !important;
  font-size: 30px !important;
}

.alert-message {
  margin-bottom: 5px !important;
  font-size: 1rem;
}

.alert-close {
  margin-left: 30px !important;
  color: white;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

@keyframes abaixa2 {
  0% {
    transform: translateY(40px) translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0px) translateX(-50%);
    opacity: 1;
  }
}
